@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Morlu wisdom App</h1>
    <p>Learn How to Become Successful with Trusted Advice From our creator</p>
</div>
